jars/logs/
eclipse/.metadata/
jars/crash-reports/
jars/saves/MCP Development World/
jars/usercache.json
target/
.idea/uiDesigner.xml
jars/assets/skins/
out/artifacts/
/jars/libraries/
saves/
screenshots/
jars/options.txt
*.log.gz
*.log
jars/saves

logs/
jars/resourcepacks/
*.dat
options.txt
optionsof.txt
optionsshaders.txt
usercache.json
jars/optionsof.txt1
.idea/discord.xml
.idea/misc.xml

